/* .div_1{
    border:1px solid Black
}
.div_2{
    background-color:palevioletred;
    border:1px dashed palevioletred;
}
.div_3{
    border:10px dotted red;
}
.div_4{
    background-color: aqua;
    border-top:5px seagreen outset;
    border-right:5px black outset;
    border-bottom: 5px plum outset;
    border-left: 5px blue outset;
}
.div_5{
    background-color: aqua;
    border:1px solid Black;
}
.div_6{
    color: white;
    background-color: black;
    border:1px solid Black
}
div{
    width: 70px;
    height: 20px;
    margin: 20px;
}
.div_7{
    background-color: antiquewhite;
    color: burlywood;
    border: 3px solid burlywood;
}
.div_8{
    background-color: blue;
    border:1px dashed rgb(255, 255, 255) ;
}
.div_9{
    color: white;
    background-color: brown ;
    border: 13px dotted khaki;
}
.div_10{
    background-color: chocolate;
    border: 13px dashed;
} */